<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <form [formGroup]="reactiveForm" (ngSubmit)="OnFormSubmitted()">
          <h2 class="mb-4 text-xl font-semibold leading-none text-gray-900 dark:text-white">General Information</h2>
          <div class="grid gap-4 mb-4 md:gap-6 md:grid-cols-2 sm:mb-8">
              <div class="sm:col-span-2">
                  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload avatar</label>
                  <div class="items-center w-full sm:flex">
                      <img class="mb-4 w-20 h-20 rounded-full sm:mr-4 sm:mb-0" [src]="profileUrl" alt="">
                      <div class="w-full">
                          <input class="w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="file_input" type="file" formControlName="upload" (change)="onChangeFile($event)">
                          <p class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
                      </div>
                  </div>
              </div>
              <div>
                  <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                  <input type="text" name="first-name" id="first-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="First Name" formControlName="firstname">
                  <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="reactiveForm.get('firstname').invalid && reactiveForm.get('firstname').touched"><span class="font-medium">FirstName</span> is a required field.</p>
              </div>
              <div>
                  <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                  <input type="text" name="last-name" id="last-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Last Name" formControlName="lastname">
                  <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="reactiveForm.get('lastname').invalid && reactiveForm.get('lastname').touched"><span class="font-medium">LastName</span> is a required field.</p>
              </div>
              <div>
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                  <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="name@company.com" formControlName="email">
                  <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="reactiveForm.get('email').invalid && reactiveForm.get('email').touched"><span class="font-medium">Email</span> is a required field..</p>
              </div>
              <div>
                <label for="phone-number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                <input type="number" name="phone-number" id="phone-number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Add a phone number" formControlName="phone">
                <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="reactiveForm.get('phone').invalid && reactiveForm.get('phone').touched"><span class="font-medium">Phone Number</span> is a required field.</p>
              </div>
              <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="•••••••••" formControlName="password">
                <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="reactiveForm.get('password').invalid && reactiveForm.get('password').touched"><span class="font-medium">Password</span> is a required field.</p>
              </div>                        
              <div>
                <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
                <input type="password" name="confirm-password" id="confirm-password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="•••••••••" formControlName="confirm">
                <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="reactiveForm.get('confirm').invalid && reactiveForm.get('confirm').touched"><span class="font-medium">Confirm Password</span> is a required field.</p>
                <span class="text-sm text-red-600 ms-2" *ngIf="reactiveForm.controls['password'].value !== reactiveForm.controls['confirm'].value">Passwords do not match</span>
              </div>
              <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gender</label>
                <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center ps-3">
                            <input id="horizontal-list-radio-license" type="radio" value="male" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" formControlName="gender">
                            <label for="horizontal-list-radio-license" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Male </label>
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center ps-3">
                            <input id="horizontal-list-radio-id" type="radio" value="female" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" formControlName="gender">
                            <label for="horizontal-list-radio-id" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Female</label>
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center ps-3">
                            <input id="horizontal-list-radio-military" type="radio" value="other" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" formControlName="gender">
                            <label for="horizontal-list-radio-military" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Other</label>
                        </div>
                    </li>
                </ul>
                <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="reactiveForm.get('gender').invalid && reactiveForm.get('gender').touched"><span class="font-medium">Gender</span> is a required field.</p>
              </div>
              <div class="relative">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date Of Birth</label>
                <div class="input-box">
                  <input type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Date of Birth" formControlName="dob"/>
                </div>
                <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="reactiveForm.get('dob').invalid && reactiveForm.get('dob').touched"><span class="font-medium">Date of Birth</span> is a required field.</p>
              </div>
              <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Interest</label>
                <div class="flex items-center space-x-4">
                    <div class="flex items-center">
                        <input id="inline-checkbox" type="checkbox" value="cricket" name="interest" class="w-4 h-4 text-primary-600 bg-gray-100 rounded border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" formControlName="interest">
                        <label for="inline-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cricket</label>
                    </div>
                    <div class="flex items-center">
                        <input id="inline-2-checkbox" type="checkbox" value="music" name="interest" class="w-4 h-4 text-primary-600 bg-gray-100 rounded border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" formControlName="interest">
                        <label for="inline-2-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Music</label>
                    </div>
                    <div class="flex items-center">
                        <input id="inline-3-checkbox" type="checkbox" value="sleep" name="interest" class="w-4 h-4 text-primary-600 bg-gray-100 rounded border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" formControlName="interest">
                        <label for="inline-3-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sleeping</label>
                    </div>
                </div>
                <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="reactiveForm.get('interest').invalid && reactiveForm.get('interest').touched"><span class="font-medium">Interest</span> is a required field.</p>
              </div>
              <div>
                <label for="user-role" class="inline-flex items-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Course
                </label>
                <select id="user-role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" formControlName="course">
                    <option value="ECE">ECE</option>
                    <option value="EEE">EEE</option>
                    <option value="ME">ME</option>
                    <option value="CSE">CSE</option>
                    <option value="IT">IT</option>
                    <option value="CIVIL">CIVIL</option>
                </select>
                <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="reactiveForm.get('course').invalid && reactiveForm.get('course').touched"><span class="font-medium">Course</span> is a required field.</p>
            </div>
          </div>
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" [disabled]="reactiveForm.invalid">
            Submit
          </button>
      </form>
  </div>
</section>